
// PAGINA INDEX
.photo-i {
    width: 100%;
}

.index-3 {
    width: 85%;
    border: 1.5px solid $colorbase;
    margin: 29px;

    transition: transform 1s;
    &:hover {
        transform: scale(1.1);
    }
}
.index-1 {
   @extend %centrado
}

.boton {
margin-left: 38%;
background-color: $colorbase;
color:$colorsecundario;
 }

 .h4-index {
    text-align: center;
    margin: 10px 10px;
 }

// PAGINA PRODUCTOS

.h1-productos {
    margin: 50px 20px 20px 20px;
    text-align: center;
    padding: 10px;
}

.h2-productos {
    margin: 10px;
    text-align: center;
    font-size: 18px;
}

.item {
    width: 100%;
}

.productos {
    width: 85%;
    border: 1.5px solid $colorbase;
    margin: 22px;

    transition: transform 1s;
    &:hover {
        transform: scale(1.1);
    }
}

.texto-item {
    text-align: center;
}

// Fin productos

// Pagina Contacto

.mapa-1 {
    width: 100%;
    padding: 13px;
}

.img-wsp {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.image-wsp {
    border-radius: 20px;
    width: 40px;
    height: 40px;

}
.contacto-wsp {
    color: forestgreen;
    font-weight: 600;
    text-align: left;
    font-style: italic;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

#nombre {
    margin: 10px;

}

.nombre {
    margin: 10px;
}

.enviar {
    background-color: $colorbase;
    color: $colorsecundario;
    &:hover {
        background-color: $colorsecundario;
        color: $colorbase;

        transition: transform 1s;
        &:hover {
            transform: scale(1.1);

            border-radius: 15px;
        }   
    }
}

// pagina nosotros

.img-nosotros {
    width: 100%;
    padding: 10px;
}
