
// PAGINA INDEX
.photo-i {
    width: 100%;
}

.index-3 {
    width: 85%;
    border: 1.5px solid $colorbase;
    margin: 29px;

    transition: transform 1s;
    &:hover {
        transform: scale(1.1);
    }
}
.index-1 {
   @extend %centrado
}

.boton {
margin-left: 38%;
background-color: $colorbase;
color:$colorsecundario;
 }

 .h4-index {
    text-align: center;
    margin: 10px 10px;
 }

// @media only screen and ( min-width:501px) and (max-width: 600px) {

//     .index-3 {
//         width: 75%;
//         border: 1.5px solid $colorbase;
//         margin: 25px 25px 25px 75px;
//     }

//     .index-1 {
//         text-align: center;
//         margin: 40px 10px;
//     }

// }

// @media only screen and ( min-width:601px) and (max-width: 800px) {

//     .index-3 {
//         width: 75%;
//         border: 1.5px solid $colorbase;
//         margin: 25px 25px 25px 90px;
//     }

//     .index-1 {
//         text-align: center;
//         margin: 40px 10px;
//     }

//     .boton {
//         margin-left: 45%;
//         background-color: $colorbase;
//         color:$colorsecundario;
//          }
// }

// @media only screen and ( min-width:801px) and (max-width: 1300px) {

//     .index-3 {
//         width: 50%;
//         border: 1.5px solid $colorbase;
//         margin: 25px 25px 25px 300px;
//     }

//     .index-1 {
//         text-align: center;
//         margin: 40px 10px;
//     }

//     .boton {
//         margin-left: 45%;
//         background-color: $colorbase;
//         color:$colorsecundario;
//          }
// }

// @media only screen and ( min-width:1300px) and (max-width: 1600px) {
//     .index-3 {
//         width: 50%;
//         border: 1.5px solid $colorbase;
//         margin: 25px 25px 25px 360px;
       
//     }

//     .index-1 {
//         text-align: center;
//         margin: 40px 10px;
//     }

// .boton {
//     margin-left: 45%;
//     background-color: $colorbase;
//     color:$colorsecundario;
//      }
// }
// FIN PAGINA INDEX

// PAGINA PRODUCTOS

.h1-productos {
    margin: 50px 20px 20px 20px;
    text-align: center;
    padding: 10px;
}

.h2-productos {
    margin: 10px;
    text-align: center;
    font-size: 18px;
}

.item {
    width: 100%;
}

.productos {
    width: 85%;
    border: 1.5px solid $colorbase;
    margin: 22px;

    transition: transform 1s;
    &:hover {
        transform: scale(1.1);
    }
}

.texto-item {
    text-align: center;
}

// @media only screen and ( min-width:501px) and (max-width: 600px) {
//     .main-container {
//         margin-left: 30px;
//     }
// }

// @media only screen and ( min-width:601px) and (max-width: 800px) {
//     .main-container {
//         margin-left: 57px;
//         width: 85%;
//     }
// }

// @media only screen and ( min-width:801px) and (max-width: 1500px) {
//     .main-container {
//         display: flex;
//         flex-wrap: wrap;
//     }
//     // .item {
//     //     width: 90%;
//     // }
//     .productos {
//         width: 20%;
//         border: 1.5px solid $colorbase;
//         margin-left: 30px;
//     }

//     .boton {
//         margin-bottom: 1px;
//         background-color: $colorbase;
//         color:$colorsecundario;
//  }
// }

// Fin productos

// Pagina Contacto

.mapa-1 {
    width: 100%;
    padding: 13px;
}

.img-wsp {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.image-wsp {
    border-radius: 20px;
    width: 40px;
    height: 40px;

}
.contacto-wsp {
    color: forestgreen;
    font-weight: 600;
    text-align: left;
    font-style: italic;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

#nombre {
    margin: 10px;

}

.nombre {
    margin: 10px;
}

.enviar {
    background-color: $colorbase;
    color: $colorsecundario;
    &:hover {
        background-color: $colorsecundario;
        color: $colorbase;

        transition: transform 1s;
        &:hover {
            transform: scale(1.1);

            border-radius: 15px;
        }   
    }
}
// @media only screen and ( min-width:801px) and (max-width: 1500px) {
//     .mapa-1 {
//         width: 70%;
//         padding: 13px;
//         margin-left: 180px;
//     }
// }

// pagina nosotros

.img-nosotros {
    width: 100%;
    padding: 10px;
}

// @media only screen and ( min-width:801px) and (max-width: 1500px) {
//     .img-nosotros {
//         width: 70%;
//         padding: 10px;
//         margin-left: 17%;
//     }

//     .h2-productos {
//         margin: 30px;
//         padding: 10px;
//     }
// }